{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <form action="{% url 'food:addProduct' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br/>
        <p>Name: {{ productForm.name }}</p><br/>
        <p>Description: {{ productForm.description }}</p><br/>
        <p>Price: {{ productForm.price }}</p><br/>
        <p>Image: {{ productForm.image }}</p><br/>
        <p hidden>Sales: {{ productForm.sales }}</p>
        <p hidden>Views: {{ productForm.views }}</p>
        <p hidden>Rating: {{ productForm.rating }}</p>
        <input type="submit" value="Add">
        <a href="{% url 'food:index' %}">Cancel</a>
    </form>
{% endblock %}
</body>
</html>
