<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'food/style.css' %}"
    />
</head>
<body>
<div id="page-container">
    {% include 'food/navbar.html' %}

    <div id="content-wrap">
        {% block content %}
        {% endblock %}
    </div>
    <footer id="footer">
        {% include 'food/copyright_footer.html' %}
    </footer>
</div>
</body>
</html>