<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Mercadinho</title>
    {% endblock %}
    {% load static %}
    <link rel="icon" href="static/media/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}"/>
</head>
<body>
<div class="page-container-base">
    {% include 'food/navbar.html' %}
    <div class="content-wrap-base">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="footer">
        {% include 'food/copyright_footer.html' %}
    </footer>
</div>
</body>
</html>
