{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Mensagens</title>
</head>
<body>
{% block content %}
    <h1>Caixa de Entrada</h1>
    {% if lista_mensagens %}
        {% for mensagem in lista_mensagens %}
            <div class="mensagem">
                <p><strong>Email</strong>: {{ mensagem.email }}</p><br/>
                <p><strong>Mensagem</strong>: {{ mensagem.texto_mensagem }}</p>
                <p class="mensagem-Hora">{{ mensagem.dataHora }}</p>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <p>Não tem nenhuma mensagem na caixa de mensagens!</p>
    {% endif %}
{% endblock %}
</body>
</html>
