{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Mensagens</title>
</head>
<body>
{% block content %}
    <h1>Caixa de Entrada</h1>
    {% for mensagem in lista_mensagens %}
        <div class="mensagem">
            <p class="mensagem-Email"> Email de: {{ mensagem.email_envio }}</p>
            <p>{{ mensagem.texto_mensagem }}</p>
            <p class="mensagem-Hora">{{ mensagem.dataHora }}</p>
        </div>
        <br>
    {% endfor %}
{% endblock %}
</body>
</html>
