{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Cestinho de Compras</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}"/>
</head>
<body>
{% block content %}
    <h1>Os seus Produtos</h1>
    {% if cesto_compras %}
        <ul>
            <form method="POST">
                {% csrf_token %}
            <div class="product_list">
                {% for item in cesto_compras %}
                    <li>
                        <img style="width:150px; height:150px; object-fit: cover;" src="{{ item.product.image }}" /><br/><br/>
                        <a href="{% url 'food:productDetailPage' item.product.id %}">{{ item.product.name }}</a>
                        <p class="lanterna_after">Preço: {{ item.product.price }}</p><br/>
                        <input type="submit" value="Remover" formaction="{% url 'food:removeFromCart' item.id %}"
                        />
                    </li>
                {% endfor %}
            <div/>
            </form>
        </ul>
        <div>
            <br/>
            <p>Deseja fazer o checkout?</p><br/>
            <a href="{% url 'food:index' %}" class="button-link">Ainda não</a>
            <a href="{% url 'food:pagamento' %}" class="button-link">Sim</a>
        </div>
    {% else %}
        <p>O seu carrinho encontra-se vazio de momento!</p>
    {% endif %}
{% endblock %}
</body>
</html>
