{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Cestinho de Compras</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'food/style.css' %}"/>
</head>
<body>
{% block content %}
    <h1>Os seu Produtos</h1>
    <ul>
        <form method="POST">
        {% csrf_token %}
        {% for item in cesto_compras %}
        <li>
          <img src="{{ item.image }}" />
          <a href="#">{{ item.name }}</a>
          <img src="{{ item.product.image }}" />
          <a href="{% url 'food:productDetailPage' item.product.id %}">{{ item.product.name }}</a>
          <p>{{ item.price }} laterninhas</p>
          <input
            type="submit"
            value="Remover"
            formaction="{% url 'food:removeFromCart' item.product_id %}"
          />
        </li>
        {% endfor %}
    </ul>
    <div class="left-down-corner">
        <p>Deseja fazer o checkout?</p><br/>
        <a href="{% url 'food:index' %}" class="button-link">Ainda não</a>
        <a href="{% url 'food:pagamento' %}" class="button-link">Sim</a>
    </div>
{% endblock %}
</body>
</html>
