{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    {% block head %}
        <title>Mercadinho - Contactos</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="row-contactos">
        <div class="column-contactos">
            <h1>Contactos</h1>
            <ul>
                <li class="lanterna-antes"><strong>Facebook</strong>: Mercadinho Portugal</li>
                <li class="lanterna-antes"><strong>Instagram</strong>: @mercadinho.pt</li>
                <li class="lanterna-antes"><strong>Telefone</strong>: +351 888 888 888</li>
                <li class="lanterna-antes"><strong>Email</strong>: mercadinho@email.com</li>
            </ul>
            <br/>
            <h1>Contacte-nos!</h1>
            <form action="{% url 'food:contactos' %}" method="post">
                {% csrf_token %}
                <label>De: </label><br/>
                <input class="email-contactos" name="email" type="email" value="{{ request.user.email }}" required><br/><br/>
                <label for="message" required>Texto da mensagem: </label><br/>
                <textarea id="message" name="message" class="textarea-contactos"></textarea><br/><br/>
                <input type="submit" value="Enviar Mensagem" />
            </form>
        </div>
        <div class="column-contactos">
            <img src="/static/media/logo.png">
        </div>
    </div>
{% endblock %}
</body>
</html>
