<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactos</title>
</head>
<body>
    <h1>Contacte-nos!</h1>
    <form action="{% url 'food:contactos' %}" method="post">
        {% csrf_token %}
        <label for="email">Email: </label>
        <input type="email" name="email"> <br>
        <!-- Este é o email para qual será enviado a resposta -->
        <!--Só pessoas loggadas podem contactar o administardor?-->
        <textarea name="texto"></textarea> <br>
        <input type="submit" value="Enviar Mensagem">
    </form>
    <!--Acho que este footer faz sentido ser daquelas cenas que passam entre TODAS as paginas-->
    <footer>
        <p>Contactos</p>
        <ul>
            <li>Facebook: Mercadinho Portugal</li>
            <li>Instagram: mercadinho.pt</li>
            <li>Telefone: +351 888 888 888</li>
            <li>Email: mercadinho@mercadinho.pt</li>
        </ul>
    </footer>
</body>
</html>