{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Contactos</title>
</head>
<body>
{% block content %}
    <h1>Contactos</h1>
    <ul>
        <li><strong>Facebook</strong>: Mercadinho Portugal</li>
        <li><strong>Instagram</strong>: mercadinho.pt</li>
        <li><strong>Telefone</strong>: +351 888 888 888</li>
        <li><strong>Email</strong>: ajuda@mercadinho.pt</li>
    </ul>
    <h1>Contacte-nos!</h1>
    <form action="{% url 'food:contactos' %}" method="post">
        {% csrf_token %}
        {% if error_message %}
            {{ error_message }}<br/><br/>
        {% endif %}
        <p>Email a contactar: {{ contactForm.email }} </p><br/>
        <p>Texto da mensagem: {{ contactForm.texto_mensagem }} </p><br/>
        <p hidden>Data e hora de envio: {{ contactForm.dataHora }}</p>
        <input type="submit" value="Enviar Mensagem" />
    </form>
{% endblock %}
</body>
</html>
