{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Mercadinho - {{ product.name }}</title>
    {% load custom_filters %}
</head>
<body>
{% block content %}
    <div>
        <h1 class="product_title">{{ product.name }}</h1><br/>
        <div class="center_grid">
            <div class="grid">
                <div class="grid_item item1">
                    <img alt="Imagem do produto. {{ product.name }}" src="{{ product.image }}" style="height: 250px;width: 250px">
                </div>
                <div class = "grid_item item2">
                    <ul>
                        <li class="lanterna">Preço: {{ product.price }}</li>
                        <li class="lanterna">Descrição: {{ product.description }}</li>
                        <li class="lanterna">Vendedor: {{ product.salesman.user.username }}</li>
                        <li class="lanterna">Classificação: {{ product.rating }}</li>
                        <li class="lanterna">Vendas: {{ product.sales }}</li>
                    </ul>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="grid_item item3">
                        {% if request.user|has_group:'Salesman' %}
                            {% if request.user|has_group:'Salesman' %}
                                <a href="{% url 'food:deleteProduct' product.id %}" class="button-link">Eliminar produto</a>
                            {% else %}
                                <a href="{% url 'food:addToCart'  product.id %}" class="button-link"> Adicionar ao Cesto</a>
                            {% endif %}
                            </div>
                            <div class="column3">
                        {% else %}
                            <form action="{% url 'food:addToCart'  product.id %}" method="post">
                                {% csrf_token %}
                                <label>Quantity: <input type="number" name="quant"></label>
                                <input type="submit" value="Adicionar ao cesto"/>
                            </form>
                        {% endif %}
                        </div>
                {% endif %}
            </div>
        </div>
        {% if request.user.is_authenticated %}
            <br>
            <h3>Comentários</h3>
            <form action="{% url 'food:commentOnItem' product.id %}" enctype="multipart/form-data"
                  method="post">
                {% csrf_token %}
                <p>Comentário: </p>
                <input id="txtFldComment" name="commentInput" type="text" required><br/><br/>
                <p>Avaliação: </p>
                <input id="nmbrFldRating" max="5.0" min="0.0" name="ratingInput" step="0.1" type="number" required><br/><br/>
                <input type="submit" value="Comentar"/><br/><br/>
            </form>
            <div class="comments">
                <ul class="specs">
                    {% for comment in comments %}
                        <li>
                            <p class="lanterna">Username: {{ comment.user.username }}</p>
                            <p class="lanterna">Avaliação: {{ comment.rating }}</p>
                            <p class="lanterna">Comentário: {{ comment.text }}</p>
                            {% if request.user.is_authenticated and comment.user.username == request.user.username %}
                                <br/>
                                <form action="{% url 'food:deleteProductComment' product.id %}" method="post">
                                    {% csrf_token %}
                                    <a href="{% url 'food:updateProductComment' product.id %}"> Update</a>
                                    <input type="submit" value="Delete">
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div
        {% endif %}
    </div>
{% endblock %}
</body>
</html>
