<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% load static %}
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'food/style.css' %}"
  />
  {% block footer %}
  <footer>
    <p>
      &copy; Bernardo Santos - 92439 | João Travassos - 93089 | Sara Vieira - 92696
    </p>
  </footer>
  {% endblock %}
</body>
</html>