<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercadinho</title>
  </head>
  <body>
    {% include 'food/navbar.html' %} {% if request.user.is_authenticated %}
    <h3>Olá {{ request.user }}!</h3>
    {% else %}
    <h3>Ainda não está logado!</h3>
    {% endif %}
    <p class="index_sobre">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Inventore velit laborum vel rem. Assumenda sapiente ea incidunt ab, unde
        harum fugiat omnis, sit culpa at nam architecto, dolore voluptatibus quis!</p>
    <br/>
    {% if products_list %}
        <div class="product_list">
            {% for product in products_list %}
                <div class="product">
                    <a href="{% url 'food:productDetailPage' product.id %}">
                        <img class="product_image" src="{{ product.image }}"/>
                        <p class="product_text">{{ product.name }}</p>
                        <p class="lanterna product_price">Preço: {{ product.price }}</p>
                        <div class="center_button"><a class="product_button" href="#">Add to Cart</a></div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% include 'food/copyright_footer.html' %}
  </body>
</html>
