{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mercadinho</title>
    {% load custom_filters %}
</head>
<body>
{% block content %}
    {#    {% if request.user.is_authenticated %}#}
    {#        <h3><img src="/static/media/logo.png" style="height:100px; vertical-align: middle;">  Olá {{ request.user }}!</h3>#}
    {#    {% else %}#}
    {#        <h3><img src="/static/media/logo.png" style="height:100px; vertical-align: middle;"> Ainda não está logado!</h3>#}
    {#    {% endif %}#}
    {% if enviado %}
        <p>{{ enviado }}</p>
    {% endif %}
    {% if products_list %}
        <br/>
        <div class="product_list">
            {% for product in products_list %}
                <div class="product">
                    <a href="{% url 'food:productDetailPage' product.id %}">
                        <img class="product_image" src="{{ product.image }}"/>
                        <p class="product_text">{{ product.name }}</p>
                        <p class="lanterna product_price">Preço: {{ product.price }}</p>
                        {% if not request.user|has_group:'Salesman' %}
                            <div class="center_button"><a class="product_button"
                                                          href="{% url 'food:addToCart' product.id %}">Adicionar ao
                                cesto</a></div>
                            {% if confirmation and product.id == p.id %}
                                <p class="product_added">{{ confirmation }}</p>
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Ainda não existem produtos à venda. Aguarde que algum vendedor decida fazer alguma coisa.</p>
    {% endif %}
{% endblock %}
</body>
</html>
