{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    {% block head %}
        <title>Mercadinho - Mapa</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div>
        <div>
            <h1>
                Mapa dos Mercadinhos
            </h1>
        </div>
        <div>
            <div class="mapa">
                <iframe
                        src="https://www.google.com/maps/d/embed?mid=1o5yFa05GFG-JgJPyU6hpEgJu1aTTAbfS&ehbc=2E312F"
                        width="100%"
                        height="600"
                        style="margin-top: -70px;"
                ></iframe>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
