<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block navbar %}
    <div class="navbar" style="background-color: aquamarine">
        <div>
            <label style="float:left;">Mercadinho</label>
        </div>

        {% if not request.user.is_authenticate %}
            <a style="float:right">Registar novo User</a>
            {#    <a href="{% url 'votacao:registarUserPage' %}" style="float:right">Registar novo User</a>#}
            <a style="float:right">Login</a>
            {#    <a href="{% url 'votacao:loginPage' %}" style="float:right">Login</a>#}
        {% else %}
            <a style="float:right">Logout</a>
            {#    <a href="{% url 'votacao:logoutPage' %}" style="float:right">Logout</a>#}
            <a style="float:right">Informacao Pessoal</a>
            {#    <a href="{% url 'votacao:infoPessoalPage' %}" style="float:right">Informacao Pessoal</a>#}
        {% endif %}
    </div>
{% endblock %}
</body>
</html>