<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'food/style.css' %}"
    />
    {#{% block navbar %}#}
    <nav>
      <ul>
        <li>
          <div>
            <a class="Logo" href="{% url 'food:index' %}">Mercadinho</a>
          </div>
        </li>
        <li>
            <a class="navOption">
                <img src="{% static 'food/images/user.png' %}" width="25">
            </a>
        {% if not request.user.is_authenticated %}
        <ul class="dropdown">
            <li>
                <a class="navOption" href="{% url 'food:registarutilizador' %}">Registar Utilizador</a>
            </li>
            <li>
                <a class="navOption" href="{% url 'food:loginutilizador' %}">Login</a>
            </li>
        </ul>
        {% else %}
            <ul class="dropdown">
                <li>
                    <a href="{% url 'food:perfil' %}" class="navOption">Perfil</a>
                </li>
                <li>
                    <a href="{% url 'food:caixamensagens' %}" class="navOption">Mensagens</a>
                </li>
                <li>
                    <a class="navOption" href="{% url 'food:logoututilizador' %}">Logout</a>
                </li>
            </ul>
        {% endif %}
        </li>
        <li>
          <a class="navOption" href="{% url 'food:cestocompras' %}"
            >Cesto de compras</a
          >
        </li>
        <li>
          <a class="navOption" href="{% url 'food:mapPage' %}"
            >Mapa dos Mercadinhos</a
          >
        </li>
        <li>
          <a class="navOption" href="{% url 'food:about' %}">Sobre nós</a>
        </li>
        <li>
          <a class="navOption" href="{% url 'food:contactos' %}">Contactos</a>
        </li>
      </ul>
    </nav>
    {#{% endblock %}#}
  </body>
</html>
