{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Pagamento</title>
</head>
<body>
{% block content %}
    <form method="post">
        {% csrf_token %}
        <br/>
        <label>Morada: </label><input type="text" name="morada"> <br/><br/>
        <label>Codigo Postal: </label><input type="text" name="ZipCode"> <br/><br/>
        <label>X lanterninhas serão descontadas da sua conta. Deseja confirmar a transação?</label><br/><br/>
        <input type="submit" value="Cancelar" formaction="cestoCompras">
        <input type="submit" value="Sim">
    </form>
{% endblock %}
</body>
</html>
