{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
  {% block content %}
  <form method="post">
      {% csrf_token %}
      <label>Morada:</label>
      <input type="text" name="morada"> <br>
      <label>Codigo Postal:</label>
      <input type="text" name="ZipCode"> <br>
      <label> {{ price }} lanterninhas serão descontadas da sua conta. Deseja confirmar a transação?</label><br>
      <input type="submit" value="Cancelar" formaction="cestoCompras">
      <input type="submit" value="Sim">
  </form>
   {% endblock %}
  </body>
</html>
