{% extends 'food/base.html' %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Mercadinho - Perfil</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div style="padding-top: 12px">
        <div class="container-perfil">
            <img src="/food/static/media/banner.jpeg" alt="banner-image" style="max-width: 100%">
            <img class="profile-pic-perfil" alt="profile-image" src={{ profile_pic }}>
        </div>
        <div class="text-info-perfil">
            <div class="user-info-perfil">
                <div>
                    <h2>Informacao Tecnica</h2>
                    <ul>
                        {% for key,value in infoTecnica.items %}
                            <li class="lanterna-antes">
                                {{ key }} : {{ value }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="user-info-perfil">
                <div>
                    <h2>Informacao Pessoal</h2>
                    <ul>
                        {% for key,value in infoPessoal.items %}
                            <li class="lanterna-antes">
                                {{ key }} : {{ value }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
