{% extends 'food/base.html' %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Mercadinho - Perfil</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="perfil-container">
        <div class="info-capsule">
            <div class="user-image">
                <img src="{{ request.user.salesman.profile_pic }}" alt="user image">
            </div>
            <div class="text-info">
                <div class="user-info">
                    <div>
                        <h2>Informacao Tecnica</h2>
                        <ul>
                            {% for t in infoTecnica %}
                                <li class="lanterna">{{ t }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="user-info">
                    <div>
                        <h2>Informacao Pessoal</h2>
                        <ul>
                            {% for p in infoPessoal %}
                                <li class="lanterna">{{ p }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
{##}
{#    <h1>Perfil do utilizador</h1>#}
{#    {% if request.user|has_group:'Customer' %}#}
{#        <img src="{{ request.user.customer.profile_pic }}" style="width: 150px;"><br/><br/>#}
{#    {% elif request.user|has_group:'Salesman' %}#}
{#        <img src="{{ request.user.salesman.profile_pic }}" style="width: 150px;"><br/><br/>#}
{#    {% endif %}#}
{#    <p><strong>Username: </strong>{{ request.user.username }}</p><br/>#}
{#    <p><strong>Email: </strong> {{ request.user.email }}</p><br/>#}
{#    {% if request.user.customer %}#}
{#        <p><strong>Tipo de utilizador: </strong>Cliente</p><br/>#}
{#        <p class="lanterna_after"><strong>Créditos: </strong>{{ request.user.customer.credit }}</p><br/>#}
{#        <p><strong>Género: </strong>{{ request.user.customer.gender }}</p><br/>#}
{#        <p><strong>Aniversário: </strong>{{ request.user.customer.birthday }}</p>#}
{#    {% elif request.user|has_group:'Salesman' %}#}
{#        <p><strong>Tipo de utilizador: </strong>Vendedor</p><br/>#}
{#        <p><strong>Classificação: </strong>{{ request.user.salesman.rating }}</p><br/>#}
{#        <p><strong>Número de telefone: </strong>{{ request.user.salesman.phone_number }}</p>#}
{#    {% endif %}#}
{#    {{ infoPessoal }}#}