{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registar Utilizador</title>
</head>
<body>
{% block content %}
    <h2>Registar Utilizador</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %} Username:
        <input type="username" name="username"/><br/><br/>
        Email: <input type="email" name="email"/><br/><br/>
        Password: <input type="password" name="password"/><br/><br/>
        Profile Picture: <input type="file" name="myfile"> <br> <br>
        <label for="gender">Gender:</label><select name="gender" id="gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select> <br> <br>
        <input type="submit" value="Gravar novo Utilizador"/>
    </form>
{% endblock %}
</body>
</html>
