<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registar Utilizador</title>
  </head>
  <body>
    {% include 'food/navbar.html' %}
    <h2>Registar Utilizador</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} Username:
      <input type="username" name="username" /><br /><br />
      Email: <input type="email" name="email" /><br /><br />
      Password: <input type="password" name="password" /><br /><br />
      <input type="submit" value="Gravar novo Utilizador" />
    </form>
    {% include 'food/copyright_footer.html' %}
  </body>
</html>
