{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <h2>Registar Salesman</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p> Username: {{ userForm.username }} </p><br/>
        <p> Email: {{ userForm.email }} </p><br/>
        <p> Password: {{ userForm.password1 }} </p><br/>
        <p hidden> Rating: {{ salesmanForm.rating }} </p>
        <p> Profile picture: {{ salesmanForm.profile_pic }} </p><br/>
        <p> Phone Number: {{ salesmanForm.phone_number }} </p><br/>
        <input type="submit" value="Gravar novo Utilizador"/>
    </form><br/>
{% endblock %}
</body>
</html>
