{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Mercadinho - Registar</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="teste-container">
        <div class="login-structure">
            <div style="background-color: #0022FF; border-radius: 25px;">
                <img src="/food/static/media/register_salesman.jfif" alt="login_panda_image" style="border-radius: 25px">
            </div>
            <div class="center-container">
                <div>
                    <h2>Registar Vendedor</h2>
                    <form action="{% url 'food:registarSalesman' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="grid-forms">
                            <label>Username:</label>
                            <input name="username" type="username" required>
                            <label>Email:</label>
                            <input name="email" type="email" required>
                            <label>Password:</label>
                            <input name="password" type="password" required>
                            <label>Fotografia:</label>
                            <input name="photo" type="file" required>
                            <label>Número de telefone:</label>
                            <input name="telephone" type="tel" required>
                        </div>
                        <br/>
                        <input type="submit" value="Gravar novo Vendedor"/>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
