{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registar Utilizador</title>
</head>
<body>
{% block content %}
    <h2>Registar Utilizador</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p> Username: {{ userForm.username }} </p><br/>
        <p> Email: {{ userForm.email }} </p><br/>
        <p> Password: {{ userForm.password1 }} </p><br/>
        <p> Género: {{ customerForm.gender }} </p><br/>
        <p> Fotografia: {{ customerForm.profile_pic }} </p><br/>
        <p> Aniversário: {{ customerForm.birthday }} </p><br/>
        <p> Créditos: {{ customerForm.credit }} </p><br>
        <input type="submit" value="Gravar novo Utilizador"/>
    </form>
    <br/>
    <p>É um vendedor? Registe-se <a href="{% url 'food:registarSalesman'%}">aqui</a>!</p>
{% endblock %}
</body>
</html>
