{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Registar Utilizador</title>
</head>
<body>
{% block content %}
    <h2>Registar Utilizador</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" aria-describedby="emailHelp"
                   placeholder="Enter Username" style="max-width: 500px">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
</body>
</html>
{#<h2>Registar Utilizador</h2>#}
{#    <form method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        <p> Username: {{ userForm.username }} </p><br/>#}
{#        <p> Email: {{ userForm.email }} </p><br/>#}
{#        <p> Password: {{ userForm.password1 }} </p><br/>#}
{#        <p> Género: {{ customerForm.gender }} </p><br/>#}
{#        <p> Fotografia: {{ customerForm.profile_pic }} </p><br/>#}
{#        <p> Aniversário: {{ customerForm.birthday }} </p><br/>#}
{#        <p> Créditos: {{ customerForm.credit }} </p><br>#}
{#        <input type="submit" value="Gravar novo Utilizador"/>#}
{#    </form>#}
{#    <br/>#}
{#    <p>É um vendedor? Registe-se <a href="{% url 'food:registarSalesman'%}">aqui</a>!</p>#}