{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block head %}
        <title>Mercadinho - Registar</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="container-login">
        <div class="login-structure">
            <div style="background-color: #0022FF; border-radius: 25px;">
                <img src="/food/static/media/register-customer.jfif" alt="registar_customer_image"
                     style="border-radius: inherit">
            </div>
            <div class="center-container">
                <div>
                    <h2>Registar Cliente</h2>
                    <form action="{% url 'food:registarCustomer' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error_message %}
                            {{ error_message }}<br/><br/>
                        {% endif %}
                        <div class="grid-forms">
                            <label>Username:</label>
                            <input name="username" type="username" required>
                            <label>Email:</label>
                            <input name="email" type="email" required>
                            <label>Password:</label>
                            <input name="password" type="password" required>
                            <label>Género:</label>
                            <select name="gender" required>
                                <option value="none" selected disabled hidden>Selecione uma opção</option>
                                <option value="Male">Masculino</option>
                                <option value="Female">Feminino</option>
                                <option value="Other">Outro</option>
                            </select>
                            <label>Fotografia:</label>
                            <input name="photo" type="file" required>
                            <label>Aniversário:</label>
                            <input name="birthday" type="date" required>
                            <label>Créditos:</label>
                            <input name="credits" min="1" max="1000000" type="number" required>
                        </div>
                        <br/>
                        <input type="submit" value="Gravar novo Utilizador"/>
                    </form>
                    <br>
                    <p>É um vendedor? Registe-se <a href="{% url 'food:registarSalesman' %}"
                                                    style="color: blue">aqui</a>!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
