{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <h2>Registar Vendedor</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Username: {{ userForm.username }} </p><br/>
        <p>Email: {{ userForm.email }} </p><br/>
        <p>Password: {{ userForm.password1 }} </p><br/>
        <p hidden>Classificação: {{ salesmanForm.rating }} </p>
        <p>Fotografia: {{ salesmanForm.profile_pic }} </p><br/>
        <p>Número de telefone: {{ salesmanForm.phone_number }} </p><br/>
        <input type="submit" value="Gravar novo Vendedor"/>
    </form><br/>
{% endblock %}
</body>
</html>
