{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercadinho - Update Comentario</title>
</head>
<body>
{% block content %}
    <form action="{% url 'food:updateProductComment' product.id %}" method="post">
        {% csrf_token %}
        <br/>
        <label>Comentário: </label><br>
        <input type="text" value="{{ comment.text }}" name="newCommentText"><br/><br/>
        <label>Avaliação: </label><br>
        <input type="number" value="{{ comment.rating }}" step="0.1" max="5" min="0" name="newCommentRating"><br/><br/>
        <input hidden name="profile">
        <input type="submit" value="Atualizar Comentário"/>
    </form>
{% endblock %}
</body>
</html>
