/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #343a40;
    margin: 0 12px;
    background-color: #D1FFD6;
}

.page-container {
    position: relative;
    min-height: 98.2vh;
}

.content-wrap {
    padding-bottom: 4rem;
}

h1,
h2,
h3 {
    margin: 12px 0;
}

li {
    margin-bottom: 12px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Mapa dos mercadinhos */
.mapa {
    width: 100%;
    overflow: hidden;
    height: 100%;
    margin: 12px auto;
}

/* Sobre o produto */
.product_title {
    margin-top: 12px;
    padding: 12px;
    background-color: lightgreen;
    display: inline-block;
}

.grid {
    margin-top: 24px;
    display: inline-grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 12px;
    grid-gap: 12px;
    grid-row-gap: 44px;
}

.grid2 {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-gap: 12px;
}

.item1 {
    grid-row-start: 2;
    grid-column-start: 1;
}

.item2 {
    text-align: left;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 4;
}

.item3 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: -1;
}

.item4 {
    grid-row-start: 1;
    grid-column-start: 6;
    grid-column-end: -2;
}

.item5{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.slider-produtos{
    width: auto;
    height: 400px;
    overflow-y: auto;
}

.item6{
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: -2;
}

.slider-comment{
    width: auto;
    height: 200px;
    overflow-y: auto;
}

.lanterna::before {
    content: '🏮';
}

.lanterna_after::after {
    content: '🏮';
}

/* Navigation */
nav {
    background-color: #087f5b;
    margin-top: 12px;
}

nav ul {
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav div {
    float: left;
}

nav p {
    font-size: 18px;
}

.nav-logo {
    float: left;
    margin: 0;
    padding: 0 12px;
    height: 44px;
}

.mercadinho {
    float: left;
    color: #fff;
    padding: 12px 12px 12px 0;
}

.navOption {
    float: right;
    color: #fff;
    padding: 12px 12px;
    margin-bottom: 0;
}

.navOption:hover {
    background-color: #045039;
}

.nav-profile-pic {
    margin: 0;
    padding: 0;
    height: 44px;
    width: 44px;
    object-fit: cover;
}

ul.dropdown {
    background-color: rgba(51, 170, 51, 0.4);
    display: none;
    position: absolute;
    right: 0;
    top: 42px;
    margin: 0;
}

li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}

.dropdown li {
    display: block;
}

.dropdown li a {
    width: 100%;
    text-align: right;
}

/* Caixa de mensagens */
.mensagem {
    background-color: #eeeeee;
    padding: 30px 30px 30px 30px;
}

.mensagem-Hora {
    float: right;
}

.button-link {
    display: inline-block;
    padding: 8px 10px;
    background-color: #087f5b;
    color: #eeeeee;
    font: 16px sans-serif;
    cursor: pointer;
}

input[type=submit] {
    background-color: #087f5b;
    color: #eeeeee;
    cursor: pointer;
    padding: 8px 10px 8px 10px;
    text-decoration: none;
    font-size: 16px;
    border: none;
}

/* Produto INDEX */

.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    grid-row-gap: 64px;
}

.product_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.product_text, .product_price, .product_added {
    display: block;
    text-align: center;
    color: #000;
    letter-spacing: 3px;
}

.product_text, .product_price {
    margin-top: 32px;
}

.product_added {
    font-size: 12px;
}

.product_price {
    margin-top: 12px;
}

.center_button {
    text-align: center;
    align-items: center;
}

.product_button {
    display: inline-block;
    border: none;
    padding: 12px 12px;
    background-color: #da3232;
    margin: 12px 0;
    border-radius: 4px;
    color: white;
}

.product_button:hover {
    background-color: #f38888;
}

/*Sobre nós*/
.about_general {
    text-align: center;
}

.container_info_header {
    margin-top: 12px;
    color: white;
}

.about_info {
    margin: auto;
    width: 50%;
}

.about_info p {
    padding: 7px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background: rgba(51, 170, 51, 0.4);
    margin: 32px 0 12px;
    padding: 4px;
}

.product_suggestion {
    display: inline-grid;
    grid-template-columns: auto auto;
}

.product_suggestion img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    padding: 6px;
}

.text-details {
    margin: auto;
    padding: 6px;
}

.review_section {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: 16px;
    margin: 12px;
}

.review_section img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.review-section-text{
    margin: 4px;
    width: 570px;
    overflow-wrap: break-word;
}

.item-cestoCompras {
    padding: 20px;
    background-color: #045039;
    color: #eeeeee;
    margin: 20px 300px;
}

.item-titulo {
    text-decoration: none;
    font: 20px sans-serif;
    color: #eeeeee;
}

.checkOut {
    float: right;
    text-align: left;
}

.pagamento {
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    background-color: #045039;
    color: #eeeeee;
    padding: 80px;
}

.texto-pagamento {
    width: 50%;
    font: 18px sans-serif;
}

/*Perfil do utilizador*/
.slider {
    width: 350px;
    height: auto;
    display: flex;
    overflow-x: auto;
}
.slide {
    width: auto;
    flex-shrink: 0;
    height: 100%;
    margin-right: 48px;
}

.slide p{
    width: 300px;
    overflow-wrap: break-word;
}
