/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #343a40;
    margin: 0 12px;
    /*background: #ACE1AF;*/
    background-color: #D1FFD6;
}

h1,
h2,
h3 {
    margin: 12px 0;
}

a {
    text-decoration: none;
}

li {
    margin-bottom: 12px;
    list-style-type: none;
}

/* Mapa dos mercadinhos */

.mapa {
    width: 50%;
    overflow: hidden;
    height: 100%;
    margin: 12px auto;
}

/* Sobre o produto */

.product_title {
    margin-top: 12px;
    margin-bottom: 32px;
    padding: 12px;
    background-color: lightgreen;
    display: inline-block;
}

.grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 12px;
    grid-gap: 12px;
}

.item1{
    grid-column-start: 1;
}

.item2{
    text-align:left;
    grid-column-start: 2;
}

.item3{
    display: inline;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.lanterna::before {
    content: '🏮';
}

.lanterna_after::after{
    content: '🏮';
}

/* Navigation */
nav {
    background-color: #087f5b;
    margin-top: 12px;
}

nav ul {
    overflow: hidden;
}

nav ul li {
    display: inline;
}

nav div {
    float: left;
}

nav p {
    font-size: 18px;
}

.mercadinho {
    float: left;
    color: #fff;
    padding: 12px 12px;
}

.navOption {
    float: right;
    color: #fff;
    padding: 12px 12px;
    margin-bottom: 0;
}

.navOption:hover {
    background-color: #045039;
}

/* Navigation drop down */
ul.dropdown {
    background-color: rgba(51, 170, 51, 0.4);
    display: none;
    position: absolute;
    right: 0;
    margin-right: 12px;
    margin-top:  12px;
}

li:hover ul.dropdown {
    display: block; /* Display the dropdown */
}

.dropdown li {
    display: block;
}

.dropdown li a {
    width: 100%;
    text-align: right;
}

/* Caixa de mensagens */
.mensagem {
    background-color: #eeeeee;
    padding: 30px 30px 30px 30px;
}

.mensagem-Hora {
    float: right;
}

.mensagem-Email {
    color: gray;
}

.button-link {
    display: inline-block;
    padding: 4px 6px 4px 6px;
    background-color: #087f5b;
    color: #eeeeee;
    cursor: pointer;
}

input[type=submit] {
    background-color: #087f5b;
    color: #eeeeee;
    cursor: pointer;
    padding: 6px 8px 6px 8px;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    border: none;
}

/* Produto INDEX */

.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 100%;
    grid-gap: 10px;
}

.product {
    padding: 10px;
}

.product_image {
    display: block;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite alternate;
}

.product_image:hover {
    animation: pulse_hover 1s ease-in-out infinite alternate;
}

@keyframes pulse {
    100% {
        box-shadow: 0 0 20px 3px #e16e6e;
        transform: scale(1.2);
    }
}

@keyframes pulse_hover {
    100% {
        box-shadow: 0 0 20px 3px #e16e6e;
        transform: scale(2);
    }
}

.product_text, .product_price {
    margin-top: 32px;
    display: block;
    text-align: center;
    color: #000;
    letter-spacing: 3px;
}

.product_price {
    margin-top: 12px;
}

.center_button {
    text-align: center;
    align-items: center;
}

.product_button {
    display: inline-block;
    border: none;
    padding: 12px 12px;
    background-color: #da3232;
    margin: 12px 0;
    border-radius: 4px;
    color: white;
}

.product_button:hover {
    background-color: #f38888;
}

/*about about*/
.about_general {
    text-align: center;
}

.about_header {
    height: 100px;
    width: auto;

    color: #ffffff;
    background-image: url("https://i.pinimg.com/originals/c4/d8/d7/c4d8d7f9e12230e974cb918678b161b4.gif");
    image-rendering: inherit;
    /*background-image: url("{% static 'media/blockChainGif.gif' %}");*/
}

.about_header h1 {
    transform: translate(0%, 75%);
}

.about_info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}

.about_info p {
    padding: 7px;
}

#page-container {
    position: relative;
    min-height: 98.35vh;
}

#content-wrap {
    padding-bottom: 2.5rem; /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*height: 2.5rem;*/
    height: auto;
    justify-content: center;
    background: rgba(51, 170, 51, 0.4);
    display: flex;
    margin: 32px 0 12px;
    padding: 4px;
    /*width: 100%;*/
}
